manifest {
    name = 'nf-FROG'
    description = 'Feedback-driven Reference Optimization through Genomic remapping.'
    mainScript = 'main.nf'
    version = '3.1.3'
}

process {
    errorStrategy = 'terminate'

    withLabel: small {
        cpus = 2
        memory = '8 GB'
        time = '12h'
    }

    withLabel: preprocess {
        cpus = 8
        memory = '16 GB'
        time = '12h'
    }

    withLabel: mapping {
        cpus = 8
        memory = '96 GB'
        time = '48h'
    }

    withLabel: calling {
        cpus = 1
        memory = '8 GB'
        time = '24h'
    }
}

profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        executor.queueSize = 100
    }

    conda {
        conda.enabled = true
        process.conda = "${projectDir}/environment.yml"
    }
}
