process {
    maxForks = 1

    withLabel: small {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }

    withLabel: preprocess {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }

    withLabel: mapping {
        cpus = 1
        memory = '4 GB'
        time = '1h'
    }

    withLabel: gatk {
        cpus = 1
        memory = '4 GB'
        time = '1h'
    }
}

executor {
    cpus = 1
    memory = '8 GB'
    queueSize = 1
}
